<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/shop_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FleursOnTheGo"
        tools:targetApi="31">
        <activity
            android:name=".views.AllProductsActivity"
            android:exported="false" />
        <activity
            android:name=".views.MessagesActivity"
            android:exported="false" />
        <activity
            android:name=".views.CartActivity"
            android:exported="false" />
        <activity
            android:name=".views.AccountActivity"
            android:exported="false" />
        <activity
            android:name=".views.BouquetCustomizationActivity"
            android:exported="false" />
        <activity
            android:name=".views.InputLoginOtpActivity"
            android:exported="false" />
        <activity
            android:name=".views.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.Dashboard"
            android:exported="false" />
        <activity
            android:name=".views.RegisterInputActivity"
            android:exported="false" />
        <activity
            android:name=".views.InputOtpActivity"
            android:exported="false" />
        <activity
            android:name=".views.IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InputPhoneNumberActivity"
            android:exported="true" />
    </application>

</manifest>